
<h3>Be the first to know.</h3>
    <div class="form-box">
        <form action="#">
            <input type="text" placeholder="Enter your email address to receive updates"> <input type="button" value="Keep in touch">
        </form>
    </div>